<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<script type="text/javascript">
    window.hamburger = '<%= image_url('hamburger-icon.png') %>'
    window.upload = '<%= image_url('upload-icon.png') %>'
    window.logo = '<%= image_url('ividz-logo.png') %>'

</script>


<div id='root'></div>
