<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<script type="text/javascript">
    window.hamburger = '<%= image_url('hamburger-icon.png') %>'
</script>

<div id='root'></div>
