.comment-index-div {
  width: 615px;
  background-color: white;
  margin-left: 50px;
  margin-bottom: 100px;
  padding: 15px;
  padding-right: 10px;
  border: 1px solid lightgrey;
  border-top: none;
  box-shadow: 0px 0.5px 0px 0px lightgrey;
}

.comment-item {
  display: flex;
  align-items: center;
  border-top: .5px solid lightgrey;
  border-bottom: .5px solid lightgrey;
  padding: 5px;
}

.comment-avatar {
  height: 75%;
  width: 45px;

}

.comment-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
}

.comment-header {
  display: flex;
}

.comment-header p {
  font-size: 12px;
}

.comment-body {
  font-size: 12px;
  margin-top: 5px;
}

.user-link {
  height: 10px;
  font-size: 14px;
  align-self: flex-end;
  color: black;
  text-decoration: none;
  margin-top: 3px;
  margin-bottom: 5px
}

.timestamp-comment {
  margin-top: 3px;
  padding-left: 5px;
  color: grey;
  align-self: center;
  font-size: 12px;
}

.user-link:hover {
  text-decoration: underline;
}

.comment-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.comment-footer h5 {
  padding-left: 3px;
  align-self: center;
}

.like-symbol {
  margin-left: 5px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
