
.header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  // padding: 10px;
  // margin-bottom: 100px;
  background-color: white;
  height: 50px;
  z-index: 1;
}

.navbar {
  position: relative;
  height: 50px;
  width: 100%;
}
.navbar > * {
  padding: 10px;
  position: absolute;
}

.logo {
  width: 45%;
}

.home-link {
  left: 45px;
  margin-bottom: 10px;
  padding-top:5px;
}

.search-input {
  left: 25%;
  width: 40%;
  font-size: 14px;
  height: 25%;
  margin-top: 5px;
}

.search-input:hover {
  box-shadow: inset 0 0 0.5px 0 lightgrey;
}

.search-input:focus {
  outline: none;
}


.avatar-circle {
  width: 35px;
  height: 35px;
  background-color: darkgreen;
  text-align: center;
  border-radius: 50%;
  right: 50px;
}

.avatar-circle:hover {
  cursor: pointer;
}

.initials {
  left: 25%;
  font-size: 25px; /* 50% of parent */
  padding-top: 5px;
  color: white;

  font-weight: bold;
}

.hamburger {
  filter: invert(35%);
  height: 30px;
  outline:none;
}

.greeting-div {
  right: 50px;
}

.fa {
  background-color: white;
}

.navbar-link {

  right: 50px;
}

.navbar-session-links {
  right: 30px;
}


a.navbar-link{
  text-decoration: none;
 background-color:#167ac6;

 border-radius:3px;
 color:#fff;
 margin-right:10px;
 padding:10px 10px 10px 10px;
}
.upload-icon {
  filter: invert(65%);
  width: 35px;
  height: 35px;
}

.upload-link {
  right: 125px;
}

.inactive {
  display: none;
}


.active {
	position: absolute;
  box-shadow: 1px 2px 2px 1px lightgrey;
  min-width: 230px;
  min-height: 150px;
  z-index: 10;
  margin: auto;
  margin-top: 20px;
  margin-right: 30px;
  right: -50px;
  top: 50px;
  background-color: white;
  border: 1px solid lightgrey;
}
.active:after, .active:before {
	bottom: 100%;
	left: 80%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.active:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 20px;
	margin-left: -20px;
}
.active:before {
	border-color: rgba(211, 211, 211, 0);
	border-bottom-color: #d3d3d3;
	border-width: 21px;
	margin-left: -21px;
}


.email-link {
  padding-top: 10px;
  text-decoration: none;
}

.dropdown-button-container {
  display: flex;
  bottom: 0px;
  height: 35%;
  width: 100%;
  position: absolute;
  background-color: #f5f5f5;
  border-top: 1px solid lightgrey;
}

.logout-button {
  padding: 10px;
  margin-left: 15px;
  margin-right: 5px;
  height: 50%;
  width: 60%;
  align-self: center;
  font-weight: bold;
  line-height: 5px;
}

.add-account-button {
  padding: 10px;
  margin-left: 5px;
  height: 50%;
  width: 60%;
  align-self: center;
  font-weight: bold;
  text-align: center;
  line-height: 5px;
}
