// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.login-form-container {
  border: 1px solid lightgrey;
  box-shadow: 1px 2px 2px 1px lightgrey;
  border-radius: 1px 1px 1px 1px;
  padding: 10px;
  width: 400px;
  height: 450px;
  bottom: 30px;
  top: 100px;

  display: block;
  background-color: white;
  position: relative;
  margin: auto;
 }

.error-list {
  list-style: none;
}

.error-list > * {
  color: red;
}

.field-label {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 5px
}

.signup-div {
  display: flex;
  flex-direction: column;
}

.input-div {
  display: block;
}

.session-logo {
  width: 50%;
}

.submit-button {
  text-decoration: none;
  background-color:#167ac6;
  border: none;
  border-radius:3px;
  color:#fff;
  margin-right:10px;
  padding:10px 10px 10px 10px;
  width: 30%;
  height: 40px;
  font-size: 16px;
  align-self: flex-end;
}

.submit-login, .guest {
  float: right;
  text-decoration: none;
  background-color:#167ac6;
  border: none;
  border-radius:3px;
  color:#fff;
  margin-right:10px;
  padding:10px 10px 10px 10px;
}

.login-field {
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid lightgrey;
  width: 80%;
  padding: 10px;
  font-size: 16px;
}

.login-field:focus {
  border-bottom: 1px solid #4285f4;
}
.login-field:hover {
  border-bottom: 1px solid #4285f4;
}

.login-form {
   margin-left: 25px;
   padding: 10px;
 }

.cancel-button {
  width: 40%;
  border: none;
  color: blue;
  background: white;
  cursor: pointer;
  padding-top: 5px;
  left: 10px;
}

 .field-label {
  color: grey;
 }

 .login-form-head {
   margin-top: 35px;
   margin-left: 25px;
   display: flex;
   flex-direction: column;
   align-self: flex-start;


 }

 .form-footer {
   padding: 20px;
   display: flex;
   justify-content: space-between;
 }

 .form-footer a {
   align-self: center;
   text-decoration: none;
 }

 .login-form-head h1 {
   color: #ff0000;
 }

 .login-form-head h5 {
   padding-top: 5px;
 }
