// Place all the styles related to the api/videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.upload-god {
  border: 1px solid lightgrey;
  box-shadow: 1px 2px 2px 1px lightgrey;
  border-radius: 1px 1px 1px 1px;
  padding: 10px;
  width: 500px;
  height: 350px;
  bottom: 30px;
  top: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  background-color: white;
  position: relative;
  margin: auto;
}

.upload-container-div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  background-color: white;
  position: relative;
}

.upload-form-div{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.upload-form-header {
  color: #167ac6;
  font-size: 24px;
  padding-bottom: 15px;
  margin-left: 15px;
}

.category-dropdown {
  outline: none;
}

.dropzone {
  cursor: pointer;
  width: 75%;
  height: 25%;
  top: 50px;
  // position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  background-color: white;
  margin: auto;

}

.upload-text {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-form-icon {
  height: 100px;
  filter: invert(65%);
  padding-bottom: 25px;
}

.upload-input {
  margin-left: 80px;
  padding-top: 25px;
  cursor: pointer;
}

.error-list-upload {
  display: flex;
  flex-direction: column;
  color: red;
}

.error-list-upload > * {
  padding-bottom: 10px;
}

.upload-form {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-self: center;
}

.video-upload-description {
  resize: none;
  padding: 3px;
  border: .5px solid lightgrey;
}



.upload-form > * {
  margin: 10px;

}

.upload-form > *:focus {
  outline: none;
}

.upload-form input {
  padding: 3px;
  border: .5px solid lightgrey;
}

.publish-input {
  text-decoration: none;
  background-color:#167ac6;
  border: none;
  border-radius:3px;
  color:#fff;
  margin-right:10px;
  padding:10px 10px 10px 10px;
}
