.video-show-container {
  margin: auto;
  margin-top: 10px;
  margin-left: 100px;
}

.video-player-div {
  width: 640px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 50px;
}

.video-player {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.video-details-1 {
  width: 640px;
  height: 170px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid lightgrey;
  box-shadow: 0px 0.5px 0px 0px lightgrey;
}

.detail-1-header {
  display: flex;
  justify-content: space-between;
}

.like-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  margin-right: 10px;
}

.like-count-video {
  align-self: flex-end;
  color: grey;
}

.like-symbol-video {
  height: 30px;
  width: 30px;
  align-self: flex-end;
  cursor: pointer;
}

.subscriber-div {
  height: 25px;
}

.subscribe-button {
  border: none;
  background: #e62117;
  color: white;
  cursor: pointer;
  border-radius: 2px;
}

.subscribe-button:hover {
  background: #bf0316;
}

.video-details-1 h3 {
  padding-left: 15px;
  padding-top: 15px;
}

.video-details-2 {
  width: 625px;
  height: 130px;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 0px 0.5px 0px 0px lightgrey;
  display: block;
  margin: auto;
  padding-left: 15px;
  padding-top: 15px;

}

.video-details-2 h4 {
  font-weight: bold;
  padding-bottom: 20px;
}
.video-details-2 p {
  font-size: 14px;
}

.category-div {
  display: flex;
  padding-top: 50px;
}

.category-div h5 {
  font-weight: bold;
}

.category-div p {
  padding-left: 25px;
}

.user-details-div {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.user-details {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.avatar-square-video {
  width: 35px;
  height: 35px;
  background-color: darkgreen;
  text-align: center;
  right: 50px;
}

.username-video {
  text-decoration: none;
  color: black;
  height: 25%;
}

.username-video:hover {
  text-decoration: underline;
}

.uploader-avatar {
  width: 100%;
  height: 100%;
}

.subscriber-count {
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  background-color: #efefef;
  color: grey;
  padding-top: 5px;
  padding-left: 4px;
  width: 20px;
  font-size: 12px;
  text-align: center;
}

.view-count {
  align-self: flex-end;
  margin-left: 400px;
  font-size: 16px;
  color: grey;
}
