// Place all the styles related to the api/videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.upload-god {
  border: 1px solid lightgrey;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  border-radius: 1px 1px 1px 1px;
  padding: 10px;
  width: 40%;
  height: 350px;
  bottom: 30px;
  top: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  background-color: white;
  position: relative;
  margin: auto;
}

.upload-container-div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  background-color: white;
  position: relative;
}

.upload-form-div{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.upload-form-header {
  color: #167ac6;
  font-size: 24px;
  padding-bottom: 15px;
  margin-left: 15px;
}

.category-dropdown {
  outline: none;
  height: 20px;
}

.dropzone {
  cursor: pointer;
  width: 75%;
  height: 25%;
  top: 50px;
  // position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  background-color: white;
  margin: auto;

}

.upload-text {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-form-icon {
  height: 100px;
  filter: invert(65%);
  padding-bottom: 25px;
}

.upload-input {
  margin-left: 80px;
  padding-top: 25px;
  cursor: pointer;
  outline: none;
}

.error-list-upload {
  display: flex;
  flex-direction: column;
  color: red;
}

.error-list-upload > * {
  padding-bottom: 10px;
}

.upload-form {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-self: center;
  height: 100%;
}

.video-upload-description {
  resize: none;
  padding: 3px;
  border: .5px solid lightgrey;
}



.upload-form > * {
  margin: 10px;

}

.upload-form > *:focus {
  outline: none;
}

.upload-form input {
  padding: 3px;

}

.publish-input {
  text-decoration: none;
  background-color:#167ac6;
  border: none;
  border-radius:3px;
  color:#fff;
  margin-right:10px;
  padding:10px 10px 10px 10px;
}

// LOADING ICON

.load-wrapp-true {

  float: left;
  width:  60px;
  height: 60px;
  margin: 0 10px 10px 0;
  padding: 20px 20px 20px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}

.load-wrapp-false {
    display: none;
    float: left;
    width:  60px;
    height: 60px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
}
.load-wrapp-false:last-child {margin-right: 0;}
.ring-2 {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 15px;
    border: 4px solid #4b9cdb;
    border-radius: 100%;
}

.ball-holder {
    position: absolute;
    width: 12px;
    height: 45px;
    left: 17px;
    top: 0px;
}

.ball {
    position: absolute;
    top: -11px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #4282B3;
}


.load-5 .ball-holder {animation: spinning 1.3s linear infinite;}

@keyframes spinning {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
