// Place all the styles related to the api/videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.upload-god {
  border: 1px solid lightgrey;
  box-shadow: 1px 2px 2px 1px lightgrey;
  border-radius: 1px 1px 1px 1px;
  padding: 10px;
  width: 500px;
  height: 350px;
  bottom: 30px;
  top: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  background-color: white;
  position: relative;
  margin: auto;
}

.upload-container-div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  background-color: white;
  position: relative;

}

.dropzone {
  cursor: pointer;
  width: 75%;
  height: 25%;
  top: 50px;
  // position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  background-color: white;
  margin: auto;

}

.upload-text {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-form-icon {
  height: 100px;
  filter: invert(65%);
  padding-bottom: 25px;
}

.upload-input {

  margin-left: 80px;
  padding-top: 25px;
  cursor: pointer;
}
