.video-list-container {
  margin-left: 10%;
  margin-right: 10%;
  position: absolute;
  background-color: white;
  top: 100px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgrey;
  box-shadow:  0 4px 8px 2px rgba(0, 0, 0, .1);
}

.suggested-videos {
  font-size: 24px;
  color: black;
  font-weight: bold;
  margin-top: 20px;
  padding-bottom: 3px;
  align-self: flex-start;
  margin-left: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.video-list {
  margin: auto;
  margin-top: 20px;
  margin-left: 65px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.video-list-item {
  display: flex;
  padding: 10px;
  margin: 15px;
}

.video-list-item:nth-child(odd) {
  background: #efefef;
}

.video-list-item.home {
  display: flex;
  width: 400px;
  padding: 10px;
  margin: 15px;
}


.video-list-item.home:nth-child(odd) {
  background: none;;
}
.video-list-item.home:hover {
  background: #efefef;
  box-shadow: 2px 1px 1px 1px darkgrey;
}

.video-link {
  width: 200px;
}

.video-thumbnail {
  width: 200px;
  height: 150px;
}

.video-item-details {
  display: flex;
  flex-direction: column;
  margin: 15px;

}

.video-item-title {
  font-weight: bold;
}

.video-item-uploader {
  color: grey;
  margin-top: 5px;
}

.video-item-footer {
  margin-top: 5px;
}

.video-item-views {
  color: grey;
  font-size: 12px;

}

.video-item-date {
  color: grey;
  font-size: 12px;
  margin-left: 3px;
}
