<!DOCTYPE html>
<html>
  <head>
    <title>iVidz</title>
    <link rel="shortcut-icon" href="../../assets/images/ividz-logo.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
